# Copy to car-can-emulator.env and `sudo systemctl restart car-can-emulator`.
EMULATOR_ARGS=--node=vcan1 --car=ev
#EMULATOR_ARGS=--node=vcan1 --car=hybrid --drive-cycle=/home/pi/car-can-emulator/cycles/demo.cycle
#EMULATOR_ARGS=--node=vcan1 --car=hybrid
#EMULATOR_ARGS=--node=can0 --car=ice --debugprint=true
